{% if servers is defined %}
{% for name, v in servers.items() %}
server {
    listen {{ v.listen }};
    client_max_body_size {{ v.client_max_body_size | default("10M") }};
    server_name {{ v.server_name }};
    error_page 404              {{ v.error_page_404 | default("/404.html") }};
    error_page 500 502 503 504  {{ v.error_page_50x | default("/50x.html") }}; 

    location /nginx_status {
        stub_status on;
        access_log   off;
        allow 127.0.0.1; 
        deny all;
    }

{%  if v.https_only_redirect is defined %}
    if ($http_x_forwarded_proto != 'https') {
       set $test P;
    }
    if ($uri != '/nginx_status') {
       set $test "${test}C";
    }
    if ($test = PC) {
       return 301 {{ v.https_only_redirect }};
    }
{%  endif %}

{%   if v.resources is defined %}
{%   for loc, lv in v.resources.items() %}
    location {{ lv.location }} {   
{%     for exp in lv.rewrite_expression | default({}) %}    
        rewrite {{ exp }}; 
{%     endfor -%}    
{%     if lv.proxy_pass is defined %}       
        proxy_pass {{ lv.proxy_pass }}; 
{%     endif -%}       
{%     if lv.root is defined %}       
        root {{ lv.root }}; 
{%     endif -%}       
{%     if lv.alias is defined %}       
        root {{ lv.alias }}; 
{%     endif -%}
     }
{%  endfor %}
{%  endif %}
}
{% endfor %}
{% endif %}
